<!-- quiz/templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quiz App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header style="background-image: url('{% static "images/header.jpg" %}');">
        <div class="logo">
            <img src="{% static 'images/logo_.png' %}" alt="Logo">
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer style="background-image: url('{% static "images/footer.jpg" %}');">
        <p>Ignatiev Alexander</p>
        <a href="https://t.me/Lexx777">Telegram: @Lexx777</a>
    </footer>
</body>
</html>

