<!-- quiz/templates/quiz_template.html -->

{% extends 'base.html' %}

{% block title %}Quiz Question{% endblock %}

{% block content %}
<article class="quiz-container">
    <h3>Вопрос №{{ current_question_number }}</h3>
    <h2>{{ question.text }}</h2>
    <form method="post" class="quiz-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.label != "Selected option" %}
                    <label>{{ field.label }}</label>
                {% endif %}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="submit-button">Отправить</button>
    </form>
    {% if not form.is_bound %}
        <p>Пожалуйста, выберите один из вариантов ответа.</p>
    {% endif %}
</article>
{% endblock %}
